body{
    background-color: rgb(167, 167, 181);
    background-image: url(image1.jpg);
    background-size: cover;

}   
h1{
    align-items: left;
}

h2{
    color: azure;
}

h3{
    color: azure;
}

